.title {
    color: brown;
}

.new {
    border: 1px solid red;
    padding: 10px;
}

.f30 {
    font-size: 30px;
}

.active {
    color: red;
}

.img-overley{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    
}

#home
{
    background-image: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size:cover;
    background-position: center;
    min-height:300px ;
    position:relative ;
}

/** buton style */

.pagination .page-link {
  background-color: #222;
  color: #f1f1f1;
  border: 1px solid #444;
  transition: all 0.2s ease;
}

.pagination .page-link:hover {
  background-color: #333;
  color: #fff;
}

.pagination .active .page-link {
  background-color: #555;
  color: #fff;
  border-color: #666;
}

.pagination .disabled .page-link {
  background-color: #111;
  color: #777;
  border-color: #333;
  cursor: not-allowed;
}
